<h3>Edit Track</h3>
<br>
<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="title">Title:</label>
    <input id="artist" type="text" name="band[name]" value="<%= @band.name %>">
    <br>
    <input class="buttoncolor" type="submit" name="" value="Update Artist">
</form>
